<div
  class="av-tag"
  [class]="'av-tag--' + size() + ' av-tag--' + variant() + ' av-tag--' + shape() + ' av-tag--' + color()"
  [class.av-tag--clickable]="clickable()"
  [class.av-tag--custom]="isCustomColor"
  [ngStyle]="tagStyles"
  (click)="onTagClick($event)"
  (keydown.enter)="onTagClick($event)"
  (keydown.space)="onTagClick($event)"
  [attr.tabindex]="clickable() ? 0 : null"
  [attr.role]="clickable() ? 'button' : null"
>
  @if (icon()) {
    <av-icon [type]="icon()!" class="av-tag__icon"></av-icon>
  }

  <span class="av-tag__label">
    <ng-content>{{ label() }}</ng-content>
  </span>

  @if (removable()) {
    <button type="button" class="av-tag__remove" (click)="onRemoveClick($event)">
      <av-icon type="actions/av_close" class="av-tag__remove-icon"></av-icon>
    </button>
  }
</div>
